body{
font: 15px/1.5 Arial, Helvetica,sans-serif;
padding:0;
margin:0;
box-sizing: border-box;
background-color:#f4f4f4;
}
img{
    width: 100%;
}
.container-1 {
  position: relative;
}

/* Bottom right text */
.text-block {
  position: absolute;
  bottom: 10em;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
.img3{
  height: 28em;
}
/*Global*/
.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}
ul{
        margin:0;
        padding:0;
    }
.button_1{
    margin:0;
    padding:0;
    background-color:#e8491d;
    border:0;
    padding-left:20px;
    padding-right:20px;
    color:#ffffff;
}

/*Header*/
header{
    background:#35424a;
    color:#ffffff;
    padding-top:10px;
    min-height:20px;
    border-bottom:#e8491d 3px solid;
}
header a{
    color:#ffffff;
    text-decoration:none;
    text-transform:upper case;
    font-size:16px;
}

header li{
    float:left;
    display:inline;
    padding:0 20px 0 20px;
}
header #brabding{
    float:left;
}
header #brabding h1{
    margin:0;
}
header nav{
    float:right;
    margin-top:0px;
    margin-bottom:20px;
}
header .highlight, header .current a{
    color:#e8491d;
    font-weight:bold;
}
header a:hover{
    color:#cccccc;
    font-weight:bold;
}

/*showcase*/
#showcase{
    min-height:400px;
    background-image: url('../img/showcase.jpg');
    background-repeat:  no-repeat;
    text-align:center;
    /*color:#ffffff;*/
}
#showcase h1{
    margin-top:100px;
    font-size:55px;
    margin-bottom:10px;
}
#showcase p{
    font-size:20px;
}
#newsletter{
    padding:50px;
    color:#ffffff;
    background:#35424a;

}
#newsletter h1{
    float:left;
    padding-top:5px;
}
#newsletter form{
    float:right;
}
#newsletter input[type="email"]{
    padding: 4px;
    height:25px;
    width:250px;
}
#main-col{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.page-title{
    margin-right:240px ;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 700;
}
/*Boxes*/
#boxes{
    margin-top:20px;
    padding:20px 20px 20px 0px  ;
    margin-left:0;

}
#boxes .box{
    float:left;
    text-align:center;
    width:30%;
    }
#boxes .box img{
    width:180px;

}
#main  {
    width:80%;
    align-items: center;
    justify-content: center;
    margin-left:10%;

}
.sidebar h3{
    text-align: center;
}
.footer {
    padding:20px;
    margin-top:200px;
    color:#ffffff;
    background-color:#e8491d;
    text-align:center;
}
@media(max-width:760px){
    .container{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #newsletter{
        padding-bottom: 150px;
     }
     #newsletter form{
         margin-right: 80px;
     }

     #boxes .box{
         width:10%;
         margin:20px;
         padding: 20px;

     }
     #newsletter input[type="email"]{
        padding: 4px;
        height:15px;
        width:150px;

}
    #newsletter h1{
    float:left;
    padding-top:5px;
}
    #boxes{
        margin-top:10px;
        padding:30px 30px 30px 30px  ;
        margin-left:0;

    }
    #boxes .box{
        float:left;
        text-align:center;
        width:10%;
        margin-right: 10%;
        }
    #boxes .box img{
        width:120px;

    }
    #boxes .p{
        justify-content: center;
        text-align: center;
        align-items: center;
        font-size: inherit;
        padding-left: 1rem;
    }
    .footer {
        padding:20px;
        margin-top:400px;
        color:#ffffff;
        background-color:#e8491d;
        text-align:center;
